body{
	background-image: url(assets/omfgdogs.gif);
	background-repeat:repeat;
}


p{
	color: white;
	text-decoration:none;
}

a{
	color: white;
	font-weight: bold;
}

#lowerleft{
	position:relative;
	top: 620px;
	left: 940px;
}
